-var space=' '
footer#footer
  div.twin
    span.developer
      i.fa.fa-code
      | #{space}by#{space}
      a(href="https://github.com/ozluy") Yusuf Özlü
      span.hidden-love
        | #{space}with#{space}
        i.fa.fa-heart
  div.twin
    -var space= ' '
    | Free on #{space}
    a(href='http://github.com/ozluy/resume-web', target='_blank') Github
    |.
